.pricing__box {
  background-color: var(--clr-bg);
  padding: 2rem;
  border-radius: 6px;
  margin-top: 1rem;
  box-shadow: var(--shadow-xl);
}

.pricing__box--0margin {
  margin: 0;
}

.pricing__box-subtext-1 {
  margin-bottom: 1rem;
}

.pricing__box-subtext-2 {
  margin-bottom: 1rem;
}

/* ------------------ */
/* Media Queries */
/* lg */
@media (min-width: 1280px) {
  .pricing__box-container {
    display: grid;
    grid-template-areas:
      "css css css jsc"
      "rea rea nex nex";
    gap: 1rem;
  }

  .pricing__box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  .pricing__box-css {
    grid-area: css;
  }

  .pricing__box-jsc {
    grid-area: jsc;
  }

  .pricing__box-rea {
    grid-area: rea;
  }

  .pricing__box-nex {
    grid-area: nex;
  }

  .pricing__box-subtext-1 {
    margin: 0;
  }
}
