/* Media queries */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

/* Typography */

.heyyou-voice {
  font-weight: 900;
  font-size: clamp(
    var(--size-3xl),
    calc(var(--size-xl) + 2.8vw),
    var(--size-5xl)
  );
  line-height: 1;
  color: var(--clr-light);
}

.attention-voice {
  font-size: clamp(1.125rem, 1.5vw, 1.5rem);
  line-height: 1.2;
  font-weight: 700;
}

.shout-voice {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
}

.strong-voice {
  font-family: var(--font-primary);
  font-size: clamp(
    var(--size-xl),
    calc(var(--size-base) + 2vw),
    var(--size-2xl)
  );
  font-weight: 700;
  text-transform: capitalize;
}

.option-voice {
  font-family: var(--font-secondary);
  font-size: clamp(
    var(--size-xs),
    calc(var(--size-xxs) + 0.45vw),
    var(--size-sm)
  );
  font-weight: 700;
  color: var(--clr-text);
}

.reading-voice {
  font-family: var(--font-secondary);
  font-size: clamp(var(--size-sm), calc(var(--size-xxs) + 1.6vw), 1rem);
  color: var(--clr-muted);
}

/* Different color of reading-voice to avoid inline styles in html markup */
.additional-reading-voice {
  font-family: var(--font-primary);
  font-size: clamp(var(--size-sm), calc(var(--size-xxs) + 1.6vw), 1rem);
  color: var(--clr-text);
}

.subtext-voice {
  font-family: var(--font-secondary);
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: var(--clr-light);
}

/* Different color of subtext-voice to avoid inline styles in html */
.subtext2-voice {
  font-family: var(--font-secondary);
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: var(--clr-text);
}

.caption-voice {
  font-family: var(--font-secondary);
  font-size: clamp(0.75rem, calc(var(--size-xxs) + 0.8vw), 1rem);
  color: var(--clr-text);
}

.page-section {
  padding: 10vh 0;
  /* border: 4px dashed red; */
}

.section-title {
  font-family: var(--font-secondary);
  font-size: clamp(0.75rem, 3vw, 1rem);
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--clr-text);
}

.container {
  /* border: 3px solid blue; */
  width: 100%;
  margin-inline: auto;
  padding-inline: 5vh;
}

.btn {
  display: inline-block;
  background-color: var(--clr-slate50);
  color: var(--clr-dark);
  padding: 0.5em 1em;
  font-weight: 500;
  border-radius: 6px;
  line-height: 1.75rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--clr-slate100);
}

.btn:focus-visible {
  outline: solid var(--clr-text);
}

/* Media Queries */
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
